<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
{% block title -%}
{% if title %}
	<title>about flask - {{title}}</title>
{% else %}
	<title>about flask</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
	{%- block mainmenu %}
<ul class="mainmenu">
	{% for p in menu -%}
<li><a href="{{p.url}}">{{p.title}}</a></li>
	{% endfor -%}
</ul>
	{% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
	{% if title -%}
<h1>{{title}}</h1>
	{% else -%}
<h1>about flask</h1>
	{% endif -%}
{% endblock -%}
</div>
</body>
</html>
	
